// .featured  {
//   display: grid;
//   width: 100%;
//   // margin: 30px 0px;
//   grid-template-rows: 100%;
//   grid-template-columns: 33% 33% 33%;
//   // grid-gap: 20px;
//   background-color: rgb(219, 94, 94);
//   grid-template-areas:  "featured2 featured3 featured4"
// }


.featured {
  /* display: -ms-grid; */
  display: grid;
  /* width: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(1fr);
  grid-gap: 3em;
  grid-template-areas:  "featured2 featured3 featured4"
  ;
    }
    
    // .featured2 .featured3 .featured4 img  {
    //   height: 10px;
    // }
    
    .featured  {
      width: auto;
      display: flex;
      align-items: center;
      
    }

    .featured img  {
      width: 30em;
      align-items: center;
    }
    
    .featured2  {
      grid-area: featured2;
      
      
    }
    
    .featured3  {
      grid-area: featured3;
      
    }
    
    .featured4  {
      grid-area: featured4;
      
    }

    

.read {
  display: grid;
  // width: 100%;
  grid-template-columns:1fr 1fr  1fr;
  grid-template-areas: "read read1";
  grid-column-gap: 8em;
  background-color: blue;
} 

.read  {
      grid-area: read;
    }

    .read1  {
      grid-area: read1;
    }
// .featured, img  {
//   height: 100px;
// }

// .featured2  {
//   grid-area: featured2;
// }

// .featured3  {
//   grid-area: featured3;
// }

// .featured4  {
//   grid-area: featured4;
// }
// .featured2, .featured3, .featured4  {
//   margin-bottom: 100px;
//   padding: 10px;
// }

// .read  {
//   display: grid;
//   width: 100%;
//   // margin: 30px 0px;
//   grid-template-rows: 100%;
//   grid-template-columns: 45% 45%;
//   // grid-gap: 20px;
//   background-color: blue;
// }