.news {
  background-color: #4a6da7;
  padding: 1em;
  width: 100%;
  color: white;
  border: none;
 }

 .hero {
  height: 50vh;
  width: 100%;
  background-image: url("./images/homepage-header-image.jpg");
  background-size: cover; 
  background-position: center;
  display: flex;
  align-items: left;
  justify-content: left;
  color: #333;
  font-family: Arial,"Arial Unicode MS",sans-serif;
  //  background: linear-gradient(to right, rgba(247,247,247,0.9), rgba(247,247,247,0) 75%);
 }