body {
  margin: 0;
  padding: 0;
  font-family: Arial,"Arial Unicode MS",sans-serif;
}

.header-logo img {
  color: #4a6da7;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/siteLogo-jworg-large.svg), none;
  width: 103px;
  height: 80px;
  float: left;
}

.logo-title {
  color: #555555;
  font-weight: 400;
  margin: 6px 20px;
  padding-left: 20px;
  line-height: 1.25;
  display: inline-block;
}

.iconLink-text {
  padding-right: 10px;
}

.menu-toggle {
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 5px;
}

.search-header {
  top: 0;
  left: 0;
  padding: 0 10px 0 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eceae7;
  display: inline-block;
}

.search-header nav {
  float: right;
}

.search-header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.search-header nav ul li a {
  height: 0px;
  line-height: 40px;
  padding: 0 20px;
  color: #4a6da7;
  text-decoration: none;
  display: block;
}

.search-header nav ul li a:hover {
  background-color: #4a6ea73d;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 784px) {
  .menu-toggle {
    display: block;
  }
  .search-header nav {
    display: none;
  }
}

@media (max-width: 420px) {
  .search-header {
    height: 50px;
  }
  .menu-toggle {
    margin-top: -10px;
  }
  .logo-title {
    margin-left: 0px;
  }
}

.menu-header nav ul li a:hover {
  background-color: black;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.menu-header {
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color: #373433;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
}

.menu-header nav {
  width: 100%;
  font-family: Arial,"Arial Unicode MS",sans-serif;
  margin-top: -15px;
}

.menu-header nav ul li {
  float: left;
  padding: 0px 0px;
  list-style: none;
}

.menu-header nav ul li a {
  color: #eceae7;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
}

@media (max-width: 938px) {
  .menu-header nav ul li a {
    font-size: .9em;
    padding-left: 30px;
    margin: -10px 0px;
  }
}

@media (max-width: 886px) {
  .menu-header nav ul li a {
    font-size: .8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  i {
    margin-top: 20px;
  }
  .menu-header {
    padding: 10px;
    margin: 0px;
  }
  .header-logo img {
    height: 60px;
    width: 80px;
  }
}

@media (max-width: 785px) {
  .menu-header {
    display: none;
  }
}

.news {
  background-color: #4a6da7;
  padding: 1em;
  width: 100%;
  color: white;
  border: none;
}

.hero {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 247, 0.9)), color-stop(75%, rgba(247, 247, 247, 0))), url("./images/homepage-header-image.jpg");
  background: linear-gradient(to right, rgba(247, 247, 247, 0.9), rgba(247, 247, 247, 0) 75%), url("./images/homepage-header-image.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #333;
  font-family: Arial,"Arial Unicode MS",sans-serif;
}

.featured {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  background-color: red;
}

.featured, img {
  height: 100px;
}

.featured2, .featured3, .featured4 {
  margin-bottom: 100px;
  padding: 10px;
}

.read {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial,"Arial Unicode MS",sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-logo img {
  color: #4a6da7;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/siteLogo-jworg-large.svg), none;
  width: 103px;
  height: 80px;
  float: left;
}

.logo-title {
  color: #555555;
  font-weight: 400;
  margin: 6px 20px;
  padding-left: 60px;
  line-height: 1.25;
  display: inline-block;
}

.iconLink-text {
  padding-right: 10px;
}

.menu-toggle {
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 5px;
}

.search-header {
  top: 0;
  left: 0;
  padding: 0 10px 0 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eceae7;
  display: inline-block;
}

.search-header nav {
  float: right;
}

.search-header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.search-header nav ul li a {
  height: 0px;
  line-height: 40px;
  padding: 0 20px;
  color: #4a6da7;
  text-decoration: none;
  display: block;
}

.search-header nav ul li a:hover {
  background-color: #4a6ea73d;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 784px) {
  .menu-toggle {
    display: block;
  }
  .search-header nav {
    display: none;
  }
}

@media (max-width: 420px) {
  .search-header {
    height: 50px;
  }
  .menu-toggle {
    margin-top: -10px;
  }
  .logo-title {
    margin-left: 0px;
  }
}

.menu-header nav ul li a:hover {
  background-color: black;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.menu-header {
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color: #373433;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
}

.menu-header nav {
  width: 100%;
  font-family: Arial,"Arial Unicode MS",sans-serif;
  margin-top: -15px;
}

.menu-header nav ul li {
  float: left;
  padding: 0px 0px;
  list-style: none;
}

.menu-header nav ul li a {
  color: #eceae7;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
}

@media (max-width: 938px) {
  .menu-header nav ul li a {
    font-size: .9em;
    padding-left: 30px;
    margin: -10px 0px;
  }
}

@media (max-width: 886px) {
  .menu-header nav ul li a {
    font-size: .8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  i {
    margin-top: 20px;
  }
  .menu-header {
    padding: 10px;
    margin: 0px;
  }
  .header-logo img {
    height: 60px;
    width: 80px;
  }
}

@media (max-width: 785px) {
  .menu-header {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */