body {
  margin: 0;
  padding: 0;
  font-family: Arial,"Arial Unicode MS",sans-serif;
}

.header-logo img {
  color:#4a6da7;
  //  #eceae7;
  position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/siteLogo-jworg-large.svg),none;
    width: 103px;
    height: 80px;
    float: left;
}

.logo-title {
  color: #555555;
    font-weight: 400;
    margin: 6px 20px;
    padding-left: 20px;
    line-height: 1.25;
    display: inline-block;
}

.search-header {
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: #eceae7; 
}

.search-header nav  {
  float: right;
  
}

.search-header nav ul  {
  margin: 0;
  padding: 0;
  display: flex;
}

.search-header nav ul  {
  list-style: none;
}

.search-header nav ul li a {
  height: 0px;
  line-height: 40px;
  padding: 0 20px;
  color: #4a6da7;
  text-decoration: none;
  display: block;
}

.search-header nav ul li a:hover  {
  background-color: #4a6ea73d;
  height: max-content;
}
//---------------- Menu Header---------------------//

.menu-header nav ul li a:hover  {
  background-color: black;
  height: max-content;
}
 
.menu-header {
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color:#373433;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  top: 0;
  
}

.menu-header nav  {
  margin-top: -15px;
  font-family: Arial,"Arial Unicode MS",sans-serif;
}

.menu-header nav ul li {
  float: left;
  padding: 0px 0px;
  list-style: none;
  
}

.menu-header nav ul li a  {
  color:  #eceae7;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  
}

.iconLink-text  {
  padding-right: 10px;
}
